.hydro-circle, .wind-circle, .solar-circle, .nonr-circle {
    border-radius: 50%;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    color: white;
  }
  
  .hydro-circle {
    background: linear-gradient(195.26deg, rgba(157,191,132,0.65) 23.55%, rgba(27,111,72,0.65) 90.31%);
    box-shadow: 0px 30px 50px rgba(126, 175, 89, 0.75);
    position: absolute;
  }
  
  .wind-circle {
    background: linear-gradient(89.54deg, rgba(71,152,247,0.67) 0.46%, rgba(184,212,244,0.67) 118.27%);
    box-shadow: 0px 30px 56.0453px rgba(88, 140, 201, 0.75);
    position: absolute;
  }
  
  .solar-circle {
    background: linear-gradient(89.54deg, rgba(243,167,56,0.67) 0.46%, rgba(240,205,154,0.67) 118.27%);
    box-shadow: 0px 30px 56.0453px rgba(243, 167, 56, 0.75);
    position: absolute;
  }
  
  .nonr-circle {
    background: linear-gradient(89.54deg, rgba(88,111,124,0.67) 0.46%,rgba(23,84,118,0.67) 118.27%);
    box-shadow: 0px 30px 56.0453px rgba(84, 91, 95, 0.75);
    position: absolute;
  }
  